html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yu Gothic";
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

header {
  position: fixed;
  width: 100%;
  background-color: #3F51B5;
  height: 100px;
}

.inner {
  max-width: 100%;
  width: 1086px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header__logo {
  width: 200px;
  height: 39px;
  margin: auto 0 auto 45px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-left: 2rem;
  }
}

.header__menu {
  margin: auto 0;
  width: 500px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list .header__list-menu {
  height: 100%;
  width: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list .header__list-menu a {
  font-size: 1.6rem;
  color: #ffffff;
  margin: 0 auto;
}

.header__right {
  margin-right: 157px;
}

.header__button {
  background-color: #E81919;
  width: 124px;
  height: 47.65px;
  border-radius: 8px;
}

.header__button a {
  color: white;
  font-size: 1.8rem;
}

.header__button-time {
  font-size: 1.4rem;
  color: white;
  font-weight: lighter;
}

.red {
  border-top: 3px solid #E81919;
}

.title {
  height: 70rem;
  padding-top: 100px;
  background: url(../img/mainvisual.png) no-repeat center center;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .title {
    height: 100vh;
  }
}

.title .title__lead {
  text-align: center;
}

.title .title__lead h1 {
  display: inline-block;
  font-size: 6.8rem;
  margin: 149px 0 12px 0;
}

@media screen and (max-width: 767px) {
  .title .title__lead h1 {
    font-size: 4rem;
  }
}

.title .title__lead p {
  font-size: 3.8rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .title .title__lead p {
    font-size: 2.5rem;
  }
}

.title .title__button {
  text-align: center;
}

.title .title__button button {
  margin-top: 82px;
  width: 390px;
  height: 83px;
  font-size: 3.6rem;
  background-color: #3F51B5;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.title .title__button a {
  color: white;
}
/*# sourceMappingURL=style-3.css.map */